---
---

@import "{{ site.theme }}";

body {
    background-color: #e6e6e6;
    font-family: "Nunito Sans";
}

a {
    color:#b32d00;
}

a:hover, a:focus {
    color:#992600;
}

article.post {
    margin-bottom: 25px;
}

.wrapper {
    width:1060px;
    margin:0 auto;
  }

section {
    width: 700px;
}

p.bio {
    font-size: 18px;
}

h1.title {
    text-align: center;
}